
body {
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn {
    background-color: #4b134f;
    border: none;
    border-radius: 7.5px;
}
.btn:hover {
    background-color: #c94b4b;
}


.sections {
    width: 90%;
    max-width: 800px;
    margin: 3rem auto;
    padding: 3rem 1rem;
    text-align: center;
    background-color: #fff;
    color: #4b134f;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
    border-radius: 50px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-margin {
    padding-left: 7rem;
}

.city-section {
    position: relative;
    padding: 1rem;
    margin: 3rem auto;
    text-align: left;
    background-color: #fff;
    color: #4b134f;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.date-time {
    display: flex;
    padding-bottom: .5rem;
}
.date,
.location {
    align-self: flex-end;
    padding-bottom: 1.3rem;
}
.time {
    padding: .5rem;
    border-radius: 15px;
    font-size: 3rem;
}

.delete-time {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1rem;


}

@media (max-width: 850px) {
    .city-section {
        flex-direction: column;
    }

    .date-time {
        flex-direction: column;
        margin-top: 1.5rem;
    }

    .time {
        margin-top: 0;
        padding-top: 0;
    }

    .date,
    .location {
        padding: 0;
        align-self: center;
    }
}

@media (max-width: 790px) {
    .column {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    .column h5 {
        margin-bottom: 1rem;
    }

#main-app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas: 'add-timezones my-timezones';
    height: 80%;
}


/* section {
} */

#add-timezones {
    background-color: blue;
    grid-area: add-timezones;
    width: 100%;
}

#my-timezones {
    background-color: white;
    grid-area: my-timezones;
    width: 100%;
    grid-area: auto;
    border: 5px solid plum;
    position: relative;
    border-radius: 15px 30px 15px 30px;
    align-items: stretch;
    text-align: center;
    /* height: 80%; */

}

#my-timezones header {
    background-color: white;
    margin: 2px auto;
    text-align: center;
    padding: 6px 6px;
    border-radius: 15px 30px 15px 30px;
    font-size: large;
}

#Nigeria {
    background-color: rgb(109, 45, 109);
    font-size: 25px;
}

#New-Delhi {
    background-color: purple;
    font-size: 25px;
}

#San-Francisco {
    background-color: blueviolet;
    font-size: 25px;
}

#New-York {
    background-color: palevioletred;
    font-size: 25px;
}

#London {
    background-color: peru;
    font-size: 25px;
}

i {
    position: relative;
    top: 5px;
    left: 5px;
}

#time {
    font-size: 30px;
    float: right;
}

p {
    font-size: 20px;
    float: inherit;


}