* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    padding: 0 5rem;
    height: 100%;
}

#main-app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas:  'add-timezones my-timezones';
    height: 80%;
}

/* section {
} */

#add-timezones {
    background-color: blue;
    grid-area: add-timezones;
    width: 100%;
}

#my-timezones {
    background-color: blue;
    grid-area: my-timezones;
    width: 100%;
    /* height: 80%; */
}