@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.background {
    background: no-repeat url("../images/background3.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

section, header {
    max-width: 47rem;
    margin: 0 auto;
    width: 100%;
}

.main-header {
    border: 3px solid rgb(45, 17, 100);
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 0;
    /* margin-bottom: 2rem; */
    color: rgb(45, 17, 100);
    border-radius: 10px;
}

label input {
    width: 45%;
    padding: 0.7rem;
    border-radius: 15px;
    border: 3px solid rgb(45, 17, 100);
    font-size: 1rem;
    color: rgb(45, 17, 100);
}

label input:focus {
    outline: none;
}

section#added-time-zone {
    /* max-height: 60%; */
    border-radius: 10px;
    height: 65%;
    overflow-y: auto;
    position: relative;
    
    border: 3px solid rgb(45, 17, 100);
    color: rgb(45, 17, 100);
    /* display: flex; */
    
}

.added-time-zone-heading {
    transform: rotate(-90deg);
    width: 65vh;
    background-color: rgb(45, 17, 100);
    color: white;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 149px;
    left: -175px;
}

div.time-data {
    position: relative;
    margin: 2rem auto;
    height: 12rem;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.863);
    color: rgb(45, 17, 100);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 6rem 23rem;
    grid-template-areas: 'am-pm-icon time-date';
    border: 3px solid rgb(45, 17, 100);
    justify-content: center;
}

.am-pm-icon {
    grid-area: am-pm-icon;
    align-self: center;
}

.am-pm-icon svg {
    width: 70%;
} 

.time-date {
    grid-area: time-date;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    text-align: left;
}

.time-date > span {
    display: grid;
    grid-template-columns: 10.5rem 7rem;
    text-align: left;
    height: 4.5rem;
}

.time {
    font-size: 4rem;
    margin: 0;
}

.am-pm-date {
    
    align-self: center;
}

.am-pm-date p {
    margin: 0.7rem 0;
}

.country, .timezone {
    margin: 0;
}

button.delete-btn {
    color: rgb(45, 17, 100);
    height: 2.5rem;
    width: 2.5rem;
    background: none;
    border: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.delete-btn svg {
    width: 1rem;
}

button.delete-btn:hover {
    border: 2px solid rgb(45, 17, 100);
} 